

*{
   box-sizing: border-box;
 }
.PageWrap{
  width:96%;
  margin:0 auto;
}

/* *************************************************************************** */
/* Registration Componet  */
/* *************************************************************************** */

#mainContainer{
  display: flex;
  background-color: purple;
  justify-content: center;
  align-content: center;
  padding-top: 40px;
}

#fieldsContainer{
  display: flex;
  background-color: cyan;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  height: 450px;
  border: 1px solid ;
}


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



#regButton{
    background-color: aqua;
    border: 1px, solid;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;


/* *************************************************************************** */
/* Grid Componet  */
/* *************************************************************************** */
#Grid .row{
  display:flex;
  width:100%;
  text-align: center;
}
#Grid .row > div{
  flex:1;
}

#Grid .cell{ 
  border: solid 1px #333;
  min-height: 50px; 
}
#Grid .row-lable{
  border-top: solid 1px #000; 
  border-right: solid 2px #000;
  font-size:40px; 
  padding:30px 0 0 0; 
} 
#Grid .col-label{   
  border-left: solid 1px #000; 
  border-bottom: solid 2px #000;
  min-height: 50px; 
  font-size:40px; 
  padding:30px 0 0 0; 
} 
#Col-label-header .row-lable{
border:none;
}
#Grid .Row-lable{
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  min-height: 100px; 
 
}
