@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  background: url(images/basketball-floor-texture.jpg) center;
}
.PageWrap {
  width: 75%;
  min-width: 360px;
  margin: 0 auto;
  font-family: 'Fjalla One', sans-serif;
}
footer{
  text-align: right;
  margin:20px 0 0;
  font-size: 12px;
}

/* *************************************************************************** */
/* Registration Componet  */
/* *************************************************************************** */

#fieldsContainer {
  background-color: white;
  width: 450px;
  border: 1px solid;
  border-radius: 10px;
  margin: 200px auto 0;
  padding: 25px;

  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#regButton {
  background-color: aqua;
  border: 1px, solid;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* *************************************************************************** */
/* Grid Componet  */
/* *************************************************************************** */
.row {
  display: flex;
  width: 100%;
  text-align: center;
}
.row > div {
  flex: 1;
  border: solid 1px transparent;
}
#Scoreboard {
  max-width: 600px;
  color: #fff;
  background: #000;
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 5;
}
#Scoreboard .team {
  align-self:center;
}
#Scoreboard .score {
  border: solid 1px #fff;
  padding: 2px;
  margin: 5px;
}
#Scoreboard .quarter {
  padding: 2px;
  margin: 5px;
}
#Scoreboard .winnerName {
  padding: 2px;
  margin: 5px;
  text-transform: uppercase;
  color:yellow;  
  -webkit-mask-image: linear-gradient(-75deg, #000 30%, rgba(0,0,0,.6) 50%, #000 70%);
  -webkit-mask-size: 200%;
  animation: shine 4s infinite;
}
#Grid-wrap {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
}
#Grid .cell {
  border: solid 1px #333;
  min-height: 50px;
  text-transform: uppercase;  
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
#Grid .cell:hover {
  background: lightblue;
  cursor: pointer;
}
#Grid .cell.selected {
  background: #006bb6;
  color: #fff;
  border-color: #fff;
}
#Grid .row-lable {
  border-top: solid 1px #000;
  border-right: solid 2px #000;
  font-size: 30px;
  padding: 30px 0 0 0;
}
#Grid .col-label {
  border-left: solid 1px #000;
  border-bottom: solid 2px #000;
  min-height: 50px;
  font-size: 30px;
  padding: 30px 0 0 0;
}
#Col-label-header .row-lable {
  border: none !important;
}
#Grid .Row-lable {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  min-height: 100px;
}

#Grid .col-label {
  border-left: solid 1px #000;
  border-bottom: solid 2px #000;
  min-height: 50px;
  font-size: 30px;
  padding: 30px 0 0 0;
}

#Col-label-header .row-lable {
  border: none;
}

#Grid .Row-lable {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  min-height: 100px;
}
#Grid .taken {
  background-color: #ed174c;
  color: #fff;
  border-color: #fff;
}
#Grid .taken:hover {
  border-color: #ed174c;
  cursor: not-allowed;
  background-color: #ed174c;
}
#Grid .winner {
  background-color: yellow;
  color: #000;
  border-color: #000;
  cursor: not-allowed;  
  -webkit-mask-image: linear-gradient(-75deg, #000 30%, rgba(0,0,0,.6) 50%, #000 70%);
  -webkit-mask-size: 200%;
  animation: shine 3s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
#Grid .winner:hover {
  background-color: yellow;
}