<div id="ScoreBoard">
    <div class = "row"> 
        <div>Q</div>
        <div class="quarter">1</div>
        <div class="quarter">2</div>
        <div class="quarter">3</div>
        <div class="quarter">4</div>
    </div>
    <div id="hometeamScore" class = "row"> 
        <div class="team">Pistons</div>
        <div ng-repeat="score in $ctrl.homeTeamScore track by $index" id="hometeamQ{{$index + 1}}" class="score">{{score}}</div>

 
    </div>
    <div id="awayteamScore" class = "row"> 
        <div class="team">Away</div>          
        <div ng-repeat="score in $ctrl.awayTeamScore track by $index" id="awayteamQ{{$index + 1}}" class="score">{{score}}</div>
    </div>
</div>
<div id="Grid-wrap">
<div id="Grid">
    <div id="Col-label-header" class="row">
        <div class="row-lable"><img src="/images/pistons.png" alt="pistons"/></div>
        <div ng-repeat="Away in $ctrl.awayTeamBet" class="col-label">{{Away}} </div> 
    </div>
    <div ng-repeat="Home in $ctrl.homeTeamBet" id="Row-{{$index + 1}}" class="row">
        <div class="row-lable">{{Home}}</div>
        <div ng-repeat="Away in $ctrl.awayTeamBet" id="Cell-{{$index + 1 + ($parent.$index * 10)}}" class="cell  {{$ctrl.isTaken($index + 1 + ($parent.$index * 10))}}" col-num="{{Away}}" row-num="{{Home}}">{{$ctrl.showName($index + 1 + ($parent.$index * 10))}}</div>        
    </div>
</div>
</div>